{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pokedex.css' %}" crossorigin="anonymous"/>
    <link rel="icon" href="{% static 'img/pokeball-icon.ico' %}">
    <title>Pokedex | Django</title>


    <style> 

        img {

           width:150px;
         

        }

    </style>

</head>


<div id="pokedex">
    <div id="left">
      <div id="logo"></div>
      <div id="bg_curve1_left"></div>
      <div id="bg_curve2_left"></div>
      <div id="curve1_left">
        <div id="buttonGlass">
          <div id="reflect"> </div>
        </div>
        <div id="miniButtonGlass1"></div>
        <div id="miniButtonGlass2"></div>
        <div id="miniButtonGlass3"></div>
      </div>
      <div id="curve2_left">
        <div id="junction">
          <div id="junction1"></div>
          <div id="junction2"></div>
        </div>
      </div>
      <div id="screen">
        <div id="topPicture">
          <div id="buttontopPicture1"></div>
          <div id="buttontopPicture2"></div>
        </div>
     
<!-- imagen de la base de datos -->
        
        <div id="picture">
           {% if id and nombre %}
                
                <img src="{{imagen}}" alt="{{nombre}} sprite" >
              
                  {% else %}
                    <div>
                       <img src="{% static 'img/nodata.png' %}" class="image" style="width:150px;">
                    </div>
           {% endif %}
        </div>
        <div id="buttonbottomPicture"></div>
        <div id="speakers">
          <div class="sp"></div>
          <div class="sp"></div>
          <div class="sp"></div>
          <div class="sp"></div>
        </div>
      </div>
      <div id="bigbluebutton" > 
        <form  id ='formularioBusqueda' method="post">
                {% csrf_token %}
                
                <!-- Searchbar -->
                <input type="text" name="pokemon" placeholder="Search Your Pokemon...">
                <button type="submit">Search</button>
            </form>

      </div>

      <!-- Formulario solicitud de id o nombre  -->
     



      <div id="barbutton1"></div>
      <div id="barbutton2"></div>
      <div id="cross">
        <div id="leftcross">
          <div id="leftT"></div>
        </div>
        <div id="topcross">
          <div id="upT"></div>
        </div>
        <div id="rightcross">
          <div id="rightT"></div>
        </div>
        <div id="midcross">
          <div id="midCircle"></div>
        </div>
        <div id="botcross">
          <div id="downT"></div>
        </div>
      </div>
    </div>
    <div id="right">

      <!-- Renderizacion de los datos -->
      <div id="stats">
        <!-- tipo,peso,altura,generacion,grito,habitat,nombre,id,habilidad,habilidadoculta,biologia,imagen.gif -->
        {% if id and nombre %}
        <strong>Id:</strong> {{id}} <br/><br/>
        <strong>Nombre:</strong> {{nombre}} <br/><br/>
        <strong>Tipo:</strong> {{tipo}}<br/><br/>
        <strong>Altura:</strong> {{altura}}
        <strong>Peso:</strong> {{peso}}<br/><br/>
        <!-- <strong>Generación:</strong><br/> -->
        <strong>Habilidad: </strong> {{habilidad}} <br/><br/>
        <strong>Habilidad oculta </strong> {{habiliadadOculta}} <br/>

             {% else %}
            <div>
                <h3>
                    Escribe el nombre o ID de tu pokemon.
                </h3>
            </div>
        {% endif %}
      </div>
      <div id="miniButtonGlass4"></div>
      <div id="miniButtonGlass5"></div>
      <div id="barbutton3"></div>
      <div id="barbutton4"></div>
      <div id="yellowBox1"></div>
      <div id="yellowBox2"></div>
      <div id="bg_curve1_right"></div>
      <div id="bg_curve2_right"></div>
      <div id="curve1_right"></div>
      <div id="curve2_right"></div>
    </div>
  </div>


  <br>
  <br>

  <a href="http://localhost:8000">inicio</a>