{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/inicio.css' %}" crossorigin="anonymous"/>
	<title>Pokemon</title>
</head>
<body>
	<!-- <audio  controls src="{% static 'img/cancion.mp3' %}" type="audio/mpeg" autoplay = 'true'  loop="true"></audio> -->
	<div id="StefTastan">
		<div id = "imagenPokemon">
					<img src="{% static 'img/titulo.png' %}" alt="titulo" style="width: 500px">
		</div>	
		<!-- pokeball container -->
		<div id="moving-container">
			<div id="pokeball-container">
			<!-- pokeball -->
				<div id="pokeball">
					<div class="pokeball-details"></div>
				</div>
			</div>				
		</div>

		<!-- charmander -->
		<div id="charmander">
			<div id="arms"></div>
			<div id="feet"></div>
			<div id="body">
				<div id="eyes"></div>
				<div id="pupils"></div>
				<div id="nostrils"></div>
				<div id="mouth"></div>
				<div id="belly"></div>
			</div>
			<div id="tail"></div>
			<div id="flame"></div>
		</div>

		<!-- bulbasaur -->
		<div id="bulbasaur">
			<div id="head">
				<div id="eyes"></div>
				<div id="pupils"></div>
				<div id="nostrils"></div>
				<div class="mouth"></div>
			</div>
			<div class="ears"></div>
			<div id="body">
				<div class="spots spot1"></div>
				<div class="spots spot2"></div>
				<div class="spots spot3"></div>
			</div>
			<div id="front-feet"></div>
			<div id="back-feet"></div>
			<div id="bulb"></div>
		</div>

		<!-- squirtle -->
		<div id="squirtle">
			<div id="arms"></div>
			<div id="feet"></div>
			<div id="head">
				<div id="eyes"></div>
				<div id="pupils"></div>
				<div id="nostrils"></div>
				<div id="mouth"></div>
			</div>
			<div id="body"></div>
			<div id="shell"></div>
			<div id="tail"></div>
		</div>

		
	</div>

<div id="pokedex">
			<a href="http://localhost:8000/pokedex">
				<button style="width: 100px ; height: 50px">
					<strong>  Go Pokedex </strong>
				</button>
			</a><br><br>
		</div>
<!-- audio -->
<!-- <audio source type="audio/mpeg" src="{% static 'img/cancion.mp3' %}" ></audio> -->

</body>
</html>